.subpage {
    background-color: #dddddd;

}

.minislide {
    height: 300px !important;
}

/* logo design css */
.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    max-width: 1200px;
    margin: 10px auto;
    padding: 0 10px;
}

.gallery__item {
    align-items: center;
    display: flex;
    justify-content: center;
}

.gallery__item>img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.gallery__item--hor {
    grid-column: span 2;
}

.gallery__item--vert {
    grid-row: span 2;
}

.gallery__item--lg {
    grid-column: span 2;
    grid-row: span 2;
}

.logodesign-img1 {
    height: 300px;
    width: 500px;
}

.logo-bg-section {
    background-color: rgb(179, 108, 245);
}



.colgallery {
    width: 550px;
    margin: 0 auto;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
}

.colgallery>div {
    position: relative;
    float: left;
    padding: 5px;
}

.colgallery>div>img {
    width: 150px;
    transition: .1s transform;
    transform: translateZ(0);
    /* hack */
}

.colgallery>div:hover {
    z-index: 1;
}

.colgallery>div:hover>img {
    transform: scale(1.8, 1.8);
    transition: .3s transform;
}

.cf:before,
.cf:after {
    display: table;
    content: "";
    line-height: 0;
}

.cf:after {
    clear: both;
}

.logoform {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* android css */
.shape-box {
    display: inline-block;
    position: relative;
    max-width: 400px;
    height: 350px;
    margin: 30px 10px 30px;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, .12);
    overflow: hidden;
    width: 22.333%;
}

.shape-box_half {
    overflow: hidden;
    text-align: left;
}

.shape-box_half:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skewY(53.5deg);
    transform-origin: top left;
    transition: \transform .4s;
    background: #fff;
}

.shape-box>img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.bg-black {
    background-color: #000;
}

.shape-box_half figcaption {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px 30px;
    transition: \transform .4s;
    transform: translateY(100%);
    z-index: 1;
}

.shape-box_half figcaption .show-cont {
    position: absolute;
    bottom: calc(100% + 30px);
    left: 30px;
    right: 30px;
    transition: bottom .4s;
}

.card-no {
    font-size: 36px;
    color: #ffc107;
    padding: 0;
    margin: 10px 0;
    z-index: 1 !important;
}

.card-main-title {
    margin-top: 8px;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #292b2c;
    z-index: -1;
}

.card-content {
    color: #9f9f9f;
    margin-top: 20px;
    line-height: 22px;
    font-size: 15px;
    z-index: 1;
}

.read-more-btn {
    border: 2px solid #db3236;
    font-size: 14px;
    cursor: pointer;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-weight: 600;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #db3236;
    color: #fff;
    border-radius: 2px;
    margin-top: 25px;
    text-decoration: none;
}

.read-more-btn:hover {
    background: transparent;
    color: #db3236;

}

.shape-box_half>.after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fdd744;
    opacity: 0;
    transition: opacity .4s;
}

/*On hover*/
.shape-box_half:hover:before {
    transform: skewY(20deg);
}

.shape-box_half:hover figcaption {
    transform: translateY(0);
}

.shape-box_half:hover figcaption .show-cont {
    bottom: 100%;
}

.shape-box_half:hover>.after {
    opacity: 1;
}

.androidpagebg {
    background-image: url('https://www.andromo.com/wp-content/uploads/2021/02/CoverFlow40sm.webp');
    height: 300px;
    width: 100%;
    background-color: blue;
}

/* web development */


.ag-format-container {
    width: 1142px;
    margin: 0 auto;
    text-decoration: none;
    z-index: 0;
}


.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;
    z-index: 0;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    text-decoration: none !important;
    overflow: hidden;
    z-index: 0;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none !important;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;
    text-decoration: none !important;
    overflow: hidden;
    z-index: 0;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;
    z-index: 0;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: #f9b234;
    text-decoration: none !important;
    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: #f9b234;

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}

/* it stafing */

.card-it {
    background-color: var(--background);
    display: block;
    width: 300px;
    min-height: 90px;
    cursor: pointer;
    padding: 15px;
    margin: calc(20vh - 30px) auto 0 auto;
    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
}

.card-it:hover {
    animation: shadow-wave 1s ease infinite;
}


@keyframes shadow-wave {
    0% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
            20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
            30px -30px 0 -3px var(--background), 30px -30px var(--orange),
            40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }

    20% {
        border: 3px solid var(--red);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
            20px -20px 0 -3px var(--background), 20px -20px var(--green),
            30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
            40px -40px 0 -3px var(--background), 40px -40px var(--orange);
    }

    40% {
        border: 3px solid var(--orange);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
            20px -20px 0 -3px var(--background), 20px -20px var(--primary),
            30px -30px 0 -3px var(--background), 30px -30px var(--green),
            40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
    }

    60% {
        border: 3px solid var(--yellow);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
            20px -20px 0 -3px var(--background), 20px -20px var(--red),
            30px -30px 0 -3px var(--background), 30px -30px var(--primary),
            40px -40px 0 -3px var(--background), 40px -40px var(--green);
    }

    80% {
        border: 3px solid var(--green);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
            20px -20px 0 -3px var(--background), 20px -20px var(--orange),
            30px -30px 0 -3px var(--background), 30px -30px var(--red),
            40px -40px 0 -3px var(--background), 40px -40px var(--primary);
    }

    100% {
        border: 3px solid var(--primary);
        box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
            20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
            30px -30px 0 -3px var(--background), 30px -30px var(--orange),
            40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }

}


/* :root {
    --primary: #22D2A0;
    --secondary: #192824;
    --background: #192824;
    --green: #1FC11B;
    --yellow: #FFD913;
    --orange: #FF9C55;
    --red: #FF5555;
} */


.card-it p {
    font-size: 13px;
    letter-spacing: 0.5px;
    margin-bottom: 10px;
    color: white;
}

.card-it h2 {
    font-size: 20px;
    font-weight: normal;
    color: white;
}




.brand-build-container {
    /* flex-direction: column; */
    
}

.brand-build-button {
    background-color: #e74c3c;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
    margin: auto;
}

@media (max-width: 600px){

    .customize-logo-container {
        flex-direction: column;
    }

    .customize-logo-container{
        display: none;
    }
.brand-build-container {
        flex-direction: column;
        border-top: 1px solid #ed2d16;
        
    }



}
